<html lang="en">
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">

    <!-- fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />

    <style>
        #content {
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">NegotiateHER</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Home Page</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">AI Agent<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="content">
        <!--<div class="webcam">
            <div class="camera">
                <video id="video">Video stream not available.</video>
            </div>
            <div class="canvas-container">
                <canvas id="canvas">
                </canvas>
            </div>
            <div class="output">
                <img id="photo" alt="The screen capture will appear in this box.">
            </div>
        </div>-->

        <div class="text-center">
            <div>
                <img src="https://i.pinimg.com/736x/93/20/d3/9320d30ef682c0f797df0d9f2be82ab5--facebook.jpg">
            </div>

            <div>
                <!--<input type="button" value="START" class="btn btn-primary" id="mic">-->
                <img src="https://findicons.com/files/icons/1580/devine_icons_part_2/128/mic.png" id="mic">
            </div>


            <div>
                <input type="button" class="btn btn-danger" value="STOP" id="stopBtn">
            </div>

<!--             <p>Press Space Bar to Start Speaking!</p>
 -->
        </div>

    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Result</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--add text here -->
                    <p id="modal-body-score"></p>
                    <p id="modal-body-text"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="warning">
        <h1 style="font-weight:500;">Speech Recognition SDK not found.</h1>
        <h2 style="font-weight:500;">Please execute <code>npm run bundle</code> and reload.</h2>
    </div>


    <!-- SDK REFERENCE -->
    <script src="../../azure-speech-web-sdk/distrib/speech.sdk.bundle.js"></script>
    <script src="../lib/socket.io.js"></script>
    <script src="../js/speechRecognizer.js"></script>
    <script src="../js/webcam.js"></script>

    <script>
        $(document).ready(function(){
            $("#stopBtn").click(function(){
                $("#myModal").modal();
            });
        });
    </script>


</body>
</html>
